.op-anchor {
  position: relative;
  padding-left: 16px;

  &::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 1px;
    background-color: var(--op-color-border-disabled);
  }

  &_ink {
    position: absolute;
    left: 0;
    top: 8px;
    z-index: 2;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid var(--op-color-primary);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
  }

  &.op-anchor_fixed {
    position: fixed;
    z-index: 10;
  }

  .op-anchor-link {
    height: 24px;
    line-height: 24px;
    color: var(--op-color-text-sub);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      color: var(--op-color-primary);
    }

    &_active {
      color: var(--op-color-primary);
    }
  }
}
