.op-designer {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 400px;
  border: 1px solid var(--op-color-border);

  &-left {
    padding: 16px;
    width: 200px;
    overflow: auto;
    border-right: 1px solid var(--op-color-border);

    .op-designer-component_component {
      margin: 0;
      padding: 0;

      .op-designer-component_item {
        list-style: none;
        padding: 6px 16px;
        margin: 8px 0;
        border: 1px solid var(--op-color-border);
        cursor: move;

        &:hover {
          border-color: var(--op-color-primary);
          color: var(--op-color-primary);
        }
      }
    }
  }

  &_center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .op-designer-action {
      padding: 0 12px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--op-color-border);
      font-size: var(--op-font-size-sub);
    }

    .op-designer-render {
      flex: 1;
      padding: 8px;
      overflow: auto;
      background: var(--op-color-bg);

      .op-designer-render_draggable {
        width: 100%;
        height: 100%;
      }

      .op-designer-component_item {
        margin: 4px 0;
        height: 0;
        overflow: hidden;
      }

      .op-designer-container {
        position: relative;
        padding: 3px;
        overflow: hidden;
        background-color: #fff;

        &:hover {
          box-shadow: var(--op-box-shadow);
        }

        &.is-activated {
          box-shadow:
            0 0 0 1px var(--op-color-primary),
            var(--op-box-shadow) !important;
        }

        & + .op-designer-container {
          margin-top: 12px;
        }

        &_tool {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          padding: 0 4px;
          background-color: var(--op-color-primary);
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 24px;
          cursor: move;

          .drag {
            margin-right: 4px;
          }
        }
      }

      .sortable-chosen {
        box-shadow: 0 0 0 1px var(--op-color-primary) !important;
      }

      .is-container {
        padding: 4px;
        min-height: 32px;
        height: 100%;
        border: 1px dashed var(--op-color-border);
      }

      .sortable-ghost {
        content: '';
        height: 0;
        overflow: hidden;
      }
    }
  }

  &_right {
    padding: 16px;
    width: 200px;
    overflow: auto;
    border-left: 1px solid var(--op-color-border);
  }

  &_tools {
    height: 32px;
    border-bottom: 1px solid var(--op-color-border);
  }

  &_content {
    flex: 1;
  }
}
