.#{$prefix}form-item {
  margin-bottom: 18px;

  &__label {
    display: inline-block;
    font-size: var(--en-font-size);
    color: var(--en-color-text);
    line-height: 1.5;
    padding-right: 12px;
    vertical-align: middle;

    .#{$prefix}form--label-top & {
      display: block;
      margin-bottom: 8px;
      padding-right: 0;
    }
  }

  &__required {
    color: var(--en-color-error);
    margin-left: 4px;
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
    flex: 1;

    .#{$prefix}form--label-top &,
    .#{$prefix}form--label-left &,
    .#{$prefix}form--label-right & {
      display: inline-block;
    }
  }

  &__error {
    color: var(--en-color-error);
    font-size: var(--en-font-size-sub);
    line-height: 1.2;
    padding-top: 4px;
    position: absolute;
  }

  &--required &__label::before {
    content: '';
  }

  &--error {
    .#{$prefix}form-item__label {
      color: var(--en-color-error);
    }

    .#{$prefix}input__inner {
      border-color: var(--en-color-error);

      &:focus {
        border-color: var(--en-color-error);
        box-shadow: 0 0 0 2px var(--en-color-error-light-8);
      }
    }
  }

  &--validating {
    .#{$prefix}input__inner {
      border-color: var(--en-color-primary);
    }
  }
}
